@{
    ViewData["Title"] = "Home";
}



<div class="container mt-5">
    <div class="row p-5">
        <div class="col-md m-3">
            <img id="signInPic" class="w-75" src="~/images/home_svg.svg" alt="e-tut">
        </div>
        <div class="col-md m-3">
            <div class="row">
                <div class="text-center">
                <h1 class="display-4 text-danger"><strong>e-tut</strong></h1>
                <p>Your online Tutor.</p>
            </div>
            </div>
            <div class="row">
                <div class="text-center">
                <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
                
            </div>
            <div class="text-center">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Signup">Join Now!</a>
                
            </div>
        </div>

    </div>
</div>
