@{
    ViewData["Title"] = "Home";
}



<div class="container mt-5">
    <div class="row p-3">
        <div class="col-md m-3">
            <img id="signInPic" class="w-75" src="~/images/home_svg.svg" alt="e-tut">
        </div>
        <div class="col-md m-3">
            <div class="row">
                <div class="text-center">
                    <h1 class="display-2 text-danger"><strong>e-tut</strong></h1>
                    <p>Your online Tutor.</p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <p></p>
                </div>

            </div>
            <div class="text-center">
                <a class="btn btn-warning" asp-controller="Account" asp-action="Signup">Join Now!</a>

            </div>
        </div>

    </div>

    <div class="row p-3">
        <div class="row p-3">
            <div class="col-md m-3 text-center">
                <h1 class="h1 text-dark"><u>Features</u></h1>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-md m-3 card">
                <div class="row pt-3 pb-1">
                    <div class="text-center">
                        <h2 class="h4 text-success">Create your own courses</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <p>You can create courses with seperate chapters on each topic. Host your videos on YouTube, Vimeo or even your own CDN!</p>
                    </div>

                </div>
            </div>
            <div class="col-md m-3 card">
                <div class="row pt-3 pb-1">
                    <div class="text-center">
                        <h2 class="h4 text-success">Assign courses to students</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <p>Assign different courses to different students. See who can attend your course and add new students</p>
                    </div>

                </div>
            </div>
            <div class="col-md m-3 card">
                <div class="row pt-3 pb-1">
                    <div class="text-center">
                        <h2 class="h4 text-success">Control who can join</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <p>Student users require approval from admin/teacher accounts to get access. Moreover, only assigned courses can be seen by student users</p>
                    </div>

                </div>
            </div>

        </div>


    </div>

</div>

